$orange: #FF6E40;
$yellow: #FFD740;
$black: #292929;
$white: #F9F9F9;

$card-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
$my-font: 'Roboto', sans-serif;
$promo-font: 'Permanent Marker', cursive;